<div>
    <form action="">
        <input placeholder="name" type="name">
        <input placeholder="code" type="code">
        <input placeholder="valor" type="valor">
        <input placeholder="usado" type="usado">
    </form>

    <div style="float: right; margin-top: 50px; margin-RIGHT: 200px;">
        <h1>data</h1>
    </div>
</div>

<style>
    body{
        background-color: #28567e;
        color: white;
    }
    form{ 
        position: fixed;
        margin-top: 50px;
        margin-left: 20px;
        max-width: 500px;
        
    }
    form input{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
</style>